

<section id="about-us">
    <div class="about-us wrapper-about">
        <h1><span class="span">About Us</span></h1>
    </div>

    <div class="container">
        <div class="box1">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-5">
                    <div class="para text-justify">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse soluta cum, qui ut facilis
                            blanditiis perferendis, beatae aperiam dolorem sapiente quod atque incidunt. Explicabo?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, corporis nemo? Accusamus,
                            soluta deleniti temporibus ea eum autem. Consequatur praesentium, optio necessitatibus
                            eligendi numquam repudiandae alias voluptate accusantium!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium blanditiis ea
                            eum nemo tenetur quibusdam, consequuntur neque quis repellat nam molestiae, natus cupiditate
                            maxime reprehenderit aperiam quasi!eum nemo tenetur quibusdam, consequuntur neque quis repellat nam molestiae, natus cupiditate
                            maxime reprehenderit aperiam quasi!eum nemo tenetur quibusdam, consequuntur neque quis repellat nam molestiae, natus cupiditat</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <img
                            src="https://images.unsplash.com/photo-1473093226795-af9932fe5856?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHJhbmRvbSUyMGZvb2QlMjBzdG9yZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                    </div>
                </div>


            </div>
            <hr style="height:2px; width:80%; margin: 40px auto; border-width:0; color:red; background-color:rgb(44, 40, 40)">

            <div class="row sameclass">
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-5">
                    <div class="card">
                        <img
                            src="https://images.unsplash.com/photo-1481671703460-040cb8a2d909?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHJhbmRvbSUyMGZvb2QlMjBzdG9yZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="para text-justify">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse soluta cum, qui ut facilis
                            blanditiis perferendis, beatae aperiam dolorem sapiente quod atque incidunt. Explicabo?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, corporis nemo? Accusamus,
                            soluta deleniti temporibus ea eum autem. Consequatur praesentium, optio necessitatibus
                            eligendi numquam repudiandae alias voluptate accusantium!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium blanditiis ea
                            eum nemo tenetur quibusdam, consequuntur neque quis repellat nam molestiae, natus cupiditate
                            maxime reprehenderit aperiam quasi!eum nemo tenetur quibusdam, consequuntur neque quis repellat nam molestiae, natus cupiditate
                            maxime reprehenderit aperiam quasi!eum nemo tenetur quibusdam, consequuntur neque quis repellat nam molestiae, natus cupiditat</p>
                    </div>
                </div>

            </div>

            

            <hr style="height:2px; width:80%; margin: 40px auto; border-width:0; color:red; background-color:rgb(44, 40, 40)">

            <!-- 3rd row -->

            <div class="row sameclass">
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-5">
                    <div class="para text-justify">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse soluta cum, qui ut facilis
                            blanditiis perferendis, beatae aperiam dolorem sapiente quod atque incidunt. Explicabo?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, corporis nemo? Accusamus,
                            soluta deleniti temporibus ea eum autem. Consequatur praesentium, optio necessitatibus
                            eligendi numquam repudiandae alias voluptate accusantium!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium blanditiis ea
                            eum nemo tenetur quibusdam, consequuntur neque quis repellat nam molestiae, natus cupiditate
                            maxime reprehenderit aperiam quasi!eum nemo tenetur quibusdam, consequuntur neque quis repellat nam molestiae, natus cupiditate
                            maxime reprehenderit aperiam quasi!eum nemo tenetur quibusdam, consequuntur neque quis repellat nam molestiae, natus cupiditat</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 px-lg-0 px-md-4 ">
                    <div class="card">
                        <img src="assets/images/img/burger.jpg">
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>