<section id="home">
    <div class="section-home">
        <div class="container-fluid px-0 banner">
    <div class="container">
  <div class="row">
      <div class=" col-lg-5  col-md-6">
        <h1>Good food choices are good investments.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum amet leo.
        </p>
      
      </div>

      <div class="mt-4">
          <div class="main-btn">order now <i class="fas fa-shopping-basket"></i></div>
          <div class="white-btn ms-lg-4 mt-lg-0 mt-4">order now</div>
      </div>
  </div>
    </div>
        </div>
    </div>
</section>
