<section id="explore-food">
    <div class="explore-food my-5 py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content text-center">
                     
                        <h2>Explore Our Foods</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit
                          amet leo. Mauris feugiat erat tellus. Far far away, behind the word mountains, far from the countries
                          Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>



                    </div>
                </div>
            </div>

            <div class="row">
                
 

            <div class="col-12">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                    <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="assets/images/img/img-3.jpg" class="image-fluid">
                        <div class="pt-3">
                            <h4>Rainbow Vegetable Sandwitch</h4>
                            <p>Time: 15-20 Minutes | Serves: 1 </p>
                            <span>₹450<del>₹550</del></span>
                            <button class="mt-4 main-btn">Order Now <i class="fas fa-shopping-basket"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="assets/images/img/img-4.jpg" class="image-fluid">
                        <div class="pt-3">
                            <h4>Vegetarian Burger</h4>
                            <p>Time: 10 - 15 Minutes | Serves: 1 </p>
                            <span>₹355<del>₹690</del></span>
                            <button class="mt-4 main-btn">Order Now <i class="fas fa-shopping-basket"></i></button>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="assets/images/img/img-5.jpg" class="image-fluid">
                        <div class="pt-3">
                            <h4>Raspberry Stuffed French</h4>
                            <p>Time: 30-35 Minutes | Serves: 1 </p>
                            <span>₹450<del>₹550</del></span>
                            <button class="mt-4 main-btn">Order Now <i class="fas fa-shopping-basket"></i></button>
                        </div>
                    </div>
                </div>

</div>

            </div>


            <!-- carousel item 2 -->

            <div class="carousel-item">
                <div class="row">

        <div class="col-md-4 mb-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="image-fluid">
            <div class="pt-3">
                <h4>Fruit Vegetable Sandwitch</h4>
                <p>Time: 20-25 Minutes | Serves: 2 </p>
                <span>₹250<del>₹650</del></span>
                <button class="mt-4 main-btn">Order Now <i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1529042410759-befb1204b468?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="image-fluid">
            <div class="pt-3">
                <h4>Vegetarian Manchurian</h4>
                <p>Time: 15 - 20 Minutes | Serves: 3 </p>
                <span>₹455<del>₹999</del></span>
                <button class="mt-4 main-btn">Order Now <i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1565958011703-44f9829ba187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="image-fluid">
            <div class="pt-3">
                <h4>Raspberry Pastrie French</h4>
                <p>Time: 5-10 Minutes | Serves: 1 </p>
                <span>₹150<del>₹350</del></span>
                <button class="mt-4 main-btn">Order Now <i class="fas fa-shopping-basket"></i></button>
            </div>
        </div>
    </div>

</div>
</div>


<!-- carousel item3 -->


<div class="carousel-item">
    <div class="row">

<div class="col-md-4 mb-3">
<div class="card">
<img src="https://images.unsplash.com/photo-1467003909585-2f8a72700288?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="image-fluid">
<div class="pt-3">
    <h4>Sandwitch cum cake</h4>
    <p>Time: 20-25 Minutes | Serves: 1 </p>
    <span>₹550<del>₹650</del></span>
    <button class="mt-4 main-btn">Order Now <i class="fas fa-shopping-basket"></i></button>
</div>
</div>
</div>

<div class="col-md-4 mb-3">
<div class="card">
<img src="https://images.unsplash.com/photo-1506459225024-1428097a7e18?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTN8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="image-fluid">
<div class="pt-3">
    <h4>Fruit cake</h4>
    <p>Time: 30 - 40 Minutes | Serves: 1 </p>
    <span>₹855<del>₹990</del></span>
    <button class="mt-4 main-btn">Order Now <i class="fas fa-shopping-basket"></i></button>
</div>
</div>
</div>


<div class="col-md-4 mb-3">
<div class="card">
<img src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzF8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="image-fluid">
<div class="pt-3">
    <h4> Stuffed hand made Pizza</h4>
    <p>Time: 30-35 Minutes | Serves: 1 </p>
    <span>₹950<del>₹1250</del></span>
    <button class="mt-4 main-btn">Order Now <i class="fas fa-shopping-basket"></i></button>
</div>
</div>
</div>

</div>
</div>


<!-- item3 end -->

</div>

<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="false"></span>
    <span class="visually-hidden">Next</span>
  </button>



  <!-- item 2 end -->






            </div>
        </div>
        </div>
        </div>
        </div>
</section>
