<section id="story">
    <div class="story-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text text-content">
                        <h2>When a man's stomach is full it makes no
                            difference whether he is rich or poor.</h2>
                          <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio
                            finibus bibendum in sit amet leo. Mauris feugiat erat tellus.</p>
                            <button class="main-btn mt-3">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
